@media only screen and (max-width: 600px) {
	#root {
		width:100%;
	}
}

body, html {
	height: 100%;
	max-width: 100%;
}

body {
	display: grid;
	background: #222222;
	font-family: 'Arial';
	color: #CCCCCC;
}

#root {
	width: 70%;
	margin: 0 auto;
	padding: 0.5rem;
}

.entry {
	height: 1.5rem;
}

.entry-container {
	display: grid;
	grid-template-columns: [entry] 100%;
	grid-template-rows: auto;
	row-gap: 0.3em;
}

.header {
	background: #DDDDDD;
	color: #000000;
	font-size: 12px;
	display: grid;
	grid-template-columns: [name] 45% [field1] 15% [field2] 15% [field3] 15% [field4] 10%;
	margin-bottom: 0.2rem;
	padding: 0.4rem 0 0.4rem 0.4rem;

}

.entry {
	display: grid;
	grid-template-columns: [flag] 5% [name] 40% [total] 15% [new] 15% [fatality] 15% [field4] 10%;
}

.flag {
	height: 0.8rem;
	max-width: 1.2rem;
}
.country {
	
}
.chart {

}
.totalCases-bar {
	background: #FF3932;
	height: 0.2em;
	padding: 0.1em;
	max-width: 96%;
}

.newCases-bar {
	background: #3239FF;
	height: 0.2em;
	padding: 0.1em;
	max-width: 96%;
}

.fatality-indicator {
	background: #DDDDDD;
	height: 100%;
	max-width: 5%;
	
}

.generic-indicator {
	background: #DDDDDD;
	border: 1px black;
	height: 100%;
	max-width: 1%;
	
}

.totalCases-barContainer {
	background: #FFDDE2;
	height: 0.2em;
	right-padding: 4%;
	max-width: 96%;
}

.newCases-barContainer {
	background: #E2DDFF;
	height: 0.2em;
	right-padding: 4%;
	max-width: 96%;
}

.wealth-container {
	background-image: linear-gradient(to right, teal, maroon);
	height: 0.2em;
	right-padding: 4%;
	width: 96%;
}

.log-multiplier-container {
	background-image: linear-gradient(to right, teal, green);
	height: 2em;
	right-padding: 4%;
	max-width: 100%;
}

.fatality-container {
	background-image: linear-gradient(to right, teal, maroon);
	height: 0.2em;
	right-padding: 4%;
	max-width: 96%;
}
