body, html {
	height: 100%;
	weight: 100%;
}

body {
	display: grid;
  background: #222222;
  font-family: 'Arial';
	color: #CCCCCC;
}

#root {
	width: 70%;
	margin: 0 auto;
	padding: 0.5rem;
}

.entry {
	height: 1.5rem;
}

.header-text {
	
}

.container {
	display: grid;
	grid-template-columns: [entry] 100%;
	grid-template-rows: auto;
	row-gap: 0.3em;
	padding: 0.5rem;
}

.header {
	background: #DDDDDD;
	color: #000000;
	font-size: 12px;
	display: grid;
	grid-template-columns: [name] 50% [field1] 15% [field2] 15%;
	margin-bottom: 0.2rem;
	padding: 0.5rem;

}

.entry {
	display: grid;
	grid-template-columns: [flag] 5% [name] 45% [field1] 15% [field2] 15%;
}

.flag {
	height: 0.8rem;
	width: 1.2rem;
}
.country {
	
}
.chart {

}
.totalCases-bar {
	background: #FF3932;
	height: 0.2em;
	padding: 0.1em;
	width: 96%;
}

.newCases-bar {
	background: #3239FF;
	height: 0.2em;
	padding: 0.1em;
	width: 96%;
}

.totalCases-barContainer {
	background: #FFDDE2;
	height: 0.2em;
	right-padding: 4%;
	width: 96%;
}

.newCases-barContainer {
	background: #E2DDFF;
	height: 0.2em;
	right-padding: 4%;
	width: 96%;
}
